@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";


:root{
    /* LIGTH COLORS */
  --color-primary: #ffffff;     /* branco */
  --color-secondary: #14b8a6;   /* verde */
  --color-danger: #ef4444;      /* vermelho */
}


:root {
    --font-family-default: "Inter", sans-serif;
    --font-family-display: "Poppins", sans-serif;

  /* Headings */
  --h1-size: 40px;
  --h1-line: 56px;
  --h1-weight: 500;

  --h2-size: 40px;
  --h2-line: 150%;
  --h2-weight: 400;

  --h3-size: 24px;
  --h3-line: 100%;
  --h3-weight: 700;

  /* Body text */
  --body-size: 16px;
  --body-line: 24px;
  --body-weight: 400;

  --small-size: 14px;
  --small-line: 20px;
  

    /* navegação */
  --nav-size: 20px;
  --nav-line: 100%; /* equivalente a 20px */
  --nav-weight: 300; /* Light */
  --nav-font: "Inter", sans-serif; /* opcional */
}